.modal-wrapper {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    background: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-modal {
background-color: white;
display: flex;
justify-content: center;
padding: 12px;
border-radius: 8px;


}
.hidden {
    display: none;
}
/* 
html {
    background: url('https://mykaleidoscope.ru/x/uploads/posts/2022-09/1663128261_2-mykaleidoscope-ru-p-spokoinie-porodi-koshek-pinterest-2.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  } */